html,
body
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 46%;
    padding: .4em 1em;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
}

.rev-block
{
    position: absolute;
}

.rev-block span
{
    -webkit-animation: appear-text .0001s linear forwards;
            animation: appear-text .0001s linear forwards;
    animation-delay: 1.4s;
    opacity: 0;
}

.rev-block::after
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    content: '';
    -webkit-animation: rev-block 1.5s cubic-bezier(.19, 1, .22, 1) forwards;
            animation: rev-block 1.5s cubic-bezier(.19, 1, .22, 1) forwards;
    animation-delay: 1s;
    background: #00f0b5;
}

@keyframes rev-block
{
    0%
    {
        left: 0;

        width: 0;
    }
    50%
    {
        left: 0;

        width: 100%;
    }
    100%
    {
        left: 100%;

        width: 0;
    }
}

@keyframes appear-text
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

#secondElement
{
     top: 51%;
     left: 58%;
}
#secondElement .sign
{
color: #D14DBD;
font-family: serif;
}

#secondElement span
{
    animation-delay: 2s;
}

#secondElement.rev-block:after
{
    animation-delay: 1.4s;
    background: #5e239d;
}
